.side-nav {
    background-color: var(--color-first);
    color: white;
    padding: 25px;
}
/* nav icons */
.side-nav nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-nav ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0;
}
.side-nav li {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Copyright */
.side-nav p {
    position: absolute;
    margin: 0;
    width: 0;
    bottom: 50px;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-size: 12px;
}