:root {
    --color-first : #020203;
    --color-second : #FF0101;
    --color-third : #FBFBFB;
}
body{
    margin: 0;
}
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-weight: 400;

}
ul {
    list-style-type: none;
    padding: 0;
}
/* custom tooltip */ 
 [role=dialog] {
    outline: none;
}
