:root {
    --color-nav : #020203;
}
body{
    margin: 0;
    min-width: 1024px;
    min-height: 780px;
}
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}
ul {
    list-style-type: none;
    padding: 0;
}
