.profil {
    width: 100%;
    padding: 50px 90px;
}
.profil h2 {
    margin: 0;
    font-size: 48px;
}
/* User name */
.profil h2 span {
    color: var(--color-second);
}
.profil__stats {
    display: flex;
    gap:30px;
}
.profil__stats section {
    width: 80%;
}
.profil__stats section>div {
    display: flex;
}